body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.slider {
    height: 250px;
    margin: auto;
    position:relative;
    width: 90%;
    display: grid;
    place-items: center;
}
.slide-track{
    display: flex;
    width: calc(250px*18);
    overflow: hidden;
}
img{
    width: 100%;
}


.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.content {
    display: contents;
    text-align: center;
    

}

h2 {
    font-size: 40px;
    color: #333;
    padding: 10px;
}

p {
    font-size: 20px;
    color: #666;
}
