body {
    font-family: Arial, sans-serif;
}

/* =========== About-banner Effect =================== */

.About-banner {
    background-color: #11131e;
    height: 300px;
    width: 100%;
    margin: 0rem;
    overflow: hidden;
    position: relative;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
}

.About-banner h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    white-space: nowrap;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 3;
    cursor: pointer;
}

/* -- Links -- */

#links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding: 1rem;
}

.meta-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.meta-link> :is(span, a) {
    font-family: "Rubik", sans-serif;
    color: white;
}

.meta-link>.label {
    width: 100px;
    text-align: right;
}

.meta-link>a {
    text-decoration: none;
    outline: none;
}

.meta-link>a.source {
    color: rgb(94, 106, 210);
}

.meta-link>a:is(:hover, :focus)>i {
    color: white;
}

.meta-link>a.youtube {
    color: rgb(239, 83, 80);
}

.meta-link>a.youtube>i {
    padding-top: 0.2rem;
}

.meta-link>a>i {
    height: 1rem;
    line-height: 1rem;
}

/* =========== About-banner Effect End =================== */


/* ============= Team Us =========================== */
.our-team .team-row {
    margin-left: -40px;
    margin-right: -40px;
  }
  
  .our-team .team-wrap {
    padding: 0 40px;
  }
  
  .our-team .container-fluid {
    padding: 0 50px;
  }
  
  .team-img img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    overflow: hidden;
    width: 100%;
  }
  
  .team-member,
  .team-img {
    position: relative;
    overflow: hidden;
    
  }
  
  .team-title {
    margin: 30px 0 7px;
  }
  
  .overlay {
    background-color: rgba(20,20,20,.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .team-details {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .team-details p {
    color: #fff;
  }
  
  .team-img:hover .team-details {
    opacity: 1;
    margin-top: -80px;
  }
  
  .team-img:hover .overlay {
    opacity: 1;
  }
  
  .socials a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: transparent;
  }
  
  .socials i {
    line-height: 37px;
    color: #616161;
    font-size: 14px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .team-details .socials i {
      color: #fff;
  }
  
  .socials a:hover i {
    color: #fff;
    background-color: #355c7d;
  }

  /* Profile */
#expert img{
    width: 275px;
    height: 270px;
    padding-bottom: 10%;
    
  }
  #expert{
    padding: 5vw;
    text-align: center;
  }
  #expert .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 20px;
  }
  #expert .expert-box .profile{
    background: #fafaf1;
    padding: 10px 10px;
  }
  .pro-link{
    margin-top: 20px;
  }
  .pro-link i{
    padding: 10px 13px;
    background-color: rgba(21 , 21, 100);
    border: 1px solid rgb(231, 232, 219);
    font-size: 1.3rem;
    cursor: pointer;
    color: #ebebe8;
    transition: 0.5s ease;
  }
  .pro-link i:hover{
    color: rgb(247, 247, 250);
    font-size: 1.3rem;
    cursor: pointer;
    background: transparent;
  }
 
/* ============= Team Us End =========================== */


/* ============= Our Story =========================== */
.our-story h2 {
    color: #ffffff;
}

.our-story p {
    color: #ffffff;
}

.our-story img {
    border-radius: 5px;
}
/* ============= Our Story End =========================== */


/* ============= Mission =========================== */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Nunito:wght@200;400;500;600;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Mission-container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}

.section {
    padding: 80px 0;
    min-height: 80%;
    display: flex;
    background-image: linear-gradient(rgba(99,112,168,0.5),rgba(81,91,233,0.5)) ,url(/images/im.jpg);
}

.section-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.section-card {
    background-color: hsl(220, 6%, 10%);
    padding: 120px 30px 30px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
}

.section-card:nth-child(1) {
    --color: #AA96DA;
}

.section-card:nth-child(2) {
    --color: #C5FAD5;
}

.section-card:nth-child(3) {
    --color: #FFBF69;
}

.section-card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color);
    z-index: -1;
    clip-path: circle(40px at 70px 70px);
    transition: clip-path 1s ease;
    border-radius: 19px;
}

.section-card:hover::before {
    clip-path: circle(100%);
}

.section-card span {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 80px;
    font-size: 50px;
    font-weight: bold;
    transform: translate(30px, 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 0%);
    transition: transform 1s ease;
}

.section-card:hover span {
    transform: translate(0, 30px);
}

.section-card h2 {
    font-size: 26px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 1.3;
}

.section-card p {
    color: hsl(0, 0%, 85%);
    line-height: 1.5;
}

.section-card a {
    display: inline-block;
    text-transform: capitalize;
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
    font-weight: 500;
}

.section-card a,
.section-card h2,
.section-card p {
    transition: color 1s ease;
}

.section-card:hover a,
.section-card:hover h2,
.section-card:hover p {
    color: hsl(0, 0%, 0%);
}

@media(max-width:991px) {
    .section-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:575px) {
    .section-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ============= Mission End =========================== */


/* ============= clients =========================== */
.clients {
    padding: 100px 0 100px;
    background-color: #f8f9fa;
    }
    
    .clients .heading h2 {
    max-width: 400px;
    margin-bottom: 10px;
    }
    
    .clients .heading p {
    color: #fe9970;
    }
    
    .clients .img-text p {
    max-width: 300px;
    font-size: 20px;
    }
    
    .brand-logo {
    overflow: hidden;
    transition: all 0.5s;
    }
    
    .brand-logo div:last-child.brand-img {
    border-right: 0;
    }
    
    .brand-logo-1 .brand-img {
    border-bottom: 1px solid #ababab;
    }
    
    .brand-img {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    transition: all 0.5s ease-in-out;
    border-right: 1px solid #ababab;
    
    }
    
    .brand-img img {
    transition: all 1s;
    }
    
    .brand-img:hover {
    background-color: #f6f6f6;
    border-right: transparent;
    }
    
    .brand-img:hover img {
    transform: scale(1.1);
    border: none;
    }
/* ============= clients End =========================== */


/* ============= Testimonials End =========================== */
.testimonial {
    padding: 100px 0 100px;
    }
    
    .testimonial .heading p {
    background-color: #f1e8ff;
    max-width: max-content;
    padding: 5px;
    color: #8a36ff;
    }
    
    .testimonial .heading h2 {
    margin-bottom: 5px;
    }
    
    .testimonial .img-text p {
    max-width: 590px;
    }
    
    .tm-card {
    background-color: #ffffff;
    height: auto;
    transition: all 0.5s;
    }
    
    .tm-card:hover {
    box-shadow: -15px 0px 30px 0px rgba(0, 0, 0, 0.1);
    }
    
    .tm-card .tm-card-img img{
    width: 70px;
    margin-bottom: 0;
    height: 70px;
    box-shadow: -14px 12px 18px 0px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    }
    
    .tm-card .client-info h3 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    color: var(--primary-color);
    transition: all 0.5s;
    }
    
    .tm-card .client-info p {
    color: #737387;
    font-size: 18px;
    line-height: 32px;
    display: inline-block;
    box-sizing: border-box;
    }
    
    .tm-content p {
    font-size: 24px;
    line-height: 38px;
    color: #52526c;
    }
    
    .tm-link a {
    width: max-content;
    color: #000248;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
    }
    
    .tm-card:hover .tm-link a {
    color: #702fff !important;
    }
    
    .tm-link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000248;
    transition: all 0.5s;
    }
    
    .tm-card:hover .tm-link a::after {
    width: 100%;
    background-color: #702fff;
    }
    
    .tm-social-icon {
    padding: 0 50px 0;
    }
    
    .tm-social-icon i {
    background-color: #ea4c89;
    color: #ffff;
    width: 70px;
    height: 70px;
    font-size: 20px;
    box-shadow: 0px 0px 40px 10px rgba(255, 0, 187, 0.3);
    }
    
    .tm-social-icon span {
    font-size: 22px;
    font-weight: 700;
    color: var(--primary-color);
    transition: all 0.5s;
    }
    
    .tm-social-icon span:hover {
    color: #702fff;
    }
    
    .tm-social-icon:nth-child(2) i {
    background-color: #0067ff;
    box-shadow: 0px 0px 40px 10px rgba(17, 0, 255, 0.3);
    }
    
    .tm-social-icon:nth-child(3) i {
    background-color: #0177ac;
    box-shadow: 0px 0px 40px 10px rgba(27, 32, 127, 0.3);
    }
/* ============= Testimonials End =========================== */